<nav >
    <ul class="nav nav-pills bg-light text-dark p-2" style="border:1px solid rgb(228, 228, 228);border-radius:5px">
        <li class="nav-item">
          <button class="btn btn-danger" href="/" >Blog.com</button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs/create">New Blog</a>
        </li>
      </ul>
</nav>

