<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container mt-5">
    <%- include('./partials/nav.ejs') %>
    
    <div class="not-found content">
        ops! page not found
    </div>
    <%- include('./partials/footer.ejs') %>
</div>
</body>
</html>